# My custom LaTeX snippets
snippet task "Task section" b
\\section*{Задание ${1:X}}
${0}
endsnippet

snippet chtd "ЧТД"
\\textbf{ЧТД.}
endsnippet

snippet ans "Ответ: ..." b
\\[
	\\text{Ответ:\quad} ${1:${VISUAL}}
\\]
endsnippet

snippet img "Insert image" b
\\begin{figure}[h]
	\\includegraphics*[width=${1:200pt}]{${0}}
\\end{figure}
endsnippet

